<link class="theme-dependent" rel='stylesheet' type='text/css' media='screen' href='/css/profile.css' />
<div class="card-container">       
    <div id="password" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <h1 class="card-title">Criar nova ocorrência:</h1>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                            <form method="GET" action="/novaocorrencia">
                                <p>Título da ocorrência: </p>
                                <p class="card-item-text-content">
                                    <div class="column-4">
                                        <input type="text">
                                    </div>
                                </p>
                                <p>Descrição da ocorrência: </p>
                                <p class="card-item-text-content">
                                    <div class="column-4">
                                        <textarea rows="10"></textarea>                                </div>
                                </p>

                                <p>Tipo de ocorrência: </p>
                                <br>
                                <p class="card-item-text-content">
                                    <div>
                                        <input type="radio" id="policial" name="type" value="local_police">
                                        <label for="low">Policial</label><br>
                                        <input type="radio" id="bombeiros" name="type" value="local_fire_department">
                                        <label for="medium">Bombeiros</label><br>
                                        <input type="radio" id="hospital" name="type" value="ocal_hospital">
                                        <label for="other">Hospitalar</label>
                                        <br>
                                        <br>

                                    </div>

                                <p>Data da ocorrência: </p>
                                <p class="card-item-text-content">
                                    <div class="column-4">
                                        <input type="date" id="data">
                                    </div>
                                </p>

                                <p>Horário da ocorrência: </p>
                                <p class="card-item-text-content">
                                    <div class="column-4">
                                        <input type="time" id="horario">
                                    </div>
                                </p>

                                <p>Lugar da ocorrência: </p>
                                <p class="card-item-text-content">
                                    <div class="column-4">
                                        
                                        <label for="endereco">Endereço:</label>
                                        <input type="text" id="endereco" name="descricao"><br>

                                        <label for="latitude">Latitude:</label>
                                        <input type="text" id="latitude" name="latitude"><br>

                                        <label for="longitude">Longitude:</label>
                                        <input type="text" id="longitude" name="longitude">
                                    </div>
                                </p>

                                <p>Gravidade: </p>
                                <br>
                                <p class="card-item-text-content">
                                    <div>
                                        <input type="radio" id="low" name="severity" value="low">
                                        <label for="low">Pequena</label><br>
                                        <input type="radio" id="medium" name="severity" value="medium">
                                        <label for="medium">Média</label><br>
                                        <input type="radio" id="high" name="severity" value="high">
                                        <label for="other">Grande</label>
                                        <br>

                                    </div>
                                </p>
                                <br>
                                <input type="submit">
                            </form>



                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>