<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/common.css' />
    <link class="theme-dependent" rel='stylesheet' type='text/css' media='screen' href='/css/main.css' />
    <link id='font-css' rel='stylesheet' type='text/css' media='screen' href='/css/font/font-medium.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='/js/main.js'></script>
</head>

<body>

    <header>
        <a href="/"><h5 class="title">Projeto DevWeb 1.0</h5></a>
    </header>

    <div class="topnav">
        <% if (user == null) { %> 
            <a href="#login">Login</a>
            <a href="#buscar">Buscar</a>
        <% } else { %>
            <a href="/account/logout">Logout</a>
            <a href="#buscar">Buscar</a>
            <% if (user.profile == 'creator' || user.profile == 'reviewer') {%>
                <a href="/occurrence/create">Criar</a>
            <% } %>
            <% if (user.profile == 'reviewer') {%>
                <a href="#review">Revisar</a>
            <% } %>
            <a href="#alterar-senha">Alterar Senha</a>
            <a href="/account/perfil">Meu perfil</a>
        <% } %>
        <a id='change-theme-button' href="#">Modo Escuro</a>
        <div class="dropdown">
            <a>Fonte</a>
            <div class="dropdown-content">
              <a class="select-small-font" href="#" onclick="onChangeFontClicked(0);">Pequena</a>
              <a class="select-medium-font" href="#" onclick="onChangeFontClicked(1);">Média</a>
              <a class="select-large-font" href="#" onclick="onChangeFontClicked(2);">Grande</a>
            </div>
        </div>
    </div>

    <main>
        <%- include(page, pageData) %> 
    </main>

    <div class="footer">
        Equipe: Erick, Alan, Matheus, Andrea
    </div>

</body>

</html>