<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/common.css' />
    <link class="theme-dependent" rel='stylesheet' type='text/css' media='screen' href='/css/main.css' />
    <link id='font-css' rel='stylesheet' type='text/css' media='screen' href='/css/font/font-medium.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='/js/main.js'></script>
</head>

<body>

    <header>
        <a href="/">
            <h5 class="title">Projeto DevWeb 1.0</h5>
        </a>
    </header>

    <div class="topnav">
        <% if (user == null) { %>
            <a href="#login">Login</a>
            <a href="#buscar">Buscar</a>
            <a href="#cadastrar">Cadastre-se</a>
            <% } else { %>
                <a href="/account/logout">Logout</a>
                <a href="#buscar">Buscar</a>
                <% if (user.profile == 'creator' || user.profile == 'reviewer') {%>
                    <a href="/occurrence/create">Criar</a>
                    <% } %>
                        <% if (user.profile == 'reviewer') {%>
                            <a href="/occurrence/review">Revisar</a>
                            <% } %>
                                <a href="#alterar-senha">Alterar Senha</a>
                                <a href="/account/perfil">Meu perfil</a>
                                <a href="/user/all">Todos Usuários</a>
                                <% } %>
                                    <a id='change-theme-button' href="#">Modo Escuro</a>
                                    <div class="dropdown">
                                        <a>Fonte</a>
                                        <div class="dropdown-content">
                                            <a class="select-small-font" href="#" onclick="onChangeFontClicked(0);">Pequena</a>
                                            <a class="select-medium-font" href="#" onclick="onChangeFontClicked(1);">Média</a>
                                            <a class="select-large-font" href="#" onclick="onChangeFontClicked(2);">Grande</a>
                                        </div>
                                    </div>
    </div>

    <main>
        <%- include(page, pageData) %> 
        <div id="buscar" class="modal">
            <div class="card">
                <div class="card-header flex-between">Buscar ocorrência</div>
                <div class="card-body">
                    <form method="GET" action="/occurrence/search">
                        <label for="search1"> Título:</label>
                        <div class="column-4">
                            <input type="text" name='title'>
                        </div>

                        <label for="search2"> Data e horário:</label>
                        <div class="column-4">
                            <label for='dateTimeStart'>Início</label>
                            <input type="dateTime-local" id='dateTimeStart' name='dateTimeStart'>
                            <label for='dateTimeEnd'>Término</label>
                            <input type="dateTime-local" id='dateTimeEnd' name='dateTimeEnd'>
                        </div>

                        <label for="search4"> Localização:</label>
                        <div class="column-4">
                            <input type="text" name='location'>
                        </div>

                        <label for="search4"> Tipos:</label>
                        <div class="column-4">
                            <label for="police">Policial</label>
                            <input type="checkbox" id='police' name='police' checked>
                            <label for="fireDepartament">Bombeiros</label>
                            <input type="checkbox" id='fireDepartament' name='fireDepartament' checked>
                            <label for="hospital">Ambulância</label>
                            <input type="checkbox" id='hospital' name='hospital' checked>
                        </div>

                        <label for="search4"> Gravidade:</label>
                        <div class="column-4">
                            <label for="low">Baixa</label>
                            <input type="checkbox" name='low' id='low' checked>
                            <label for="medium">Média</label>
                            <input type="checkbox" name='medium' id='medium' checked>
                            <label for="high">Alta</label>
                            <input type="checkbox" name='high' id='high' checked>
                        </div>

                        <label for="search4"> Estado:</label>
                        <div class="column-4">
                            <label for="pending">Pendente</label>
                            <input type="checkbox" id='pending'  name='pending' checked>
                            <label for="resolved">Resolvida</label>
                            <input type="checkbox" id='resolved' name='resolved'>
                            <label for="finished">Finalizada</label>
                            <input type="checkbox" id='finished' name='finished'>
                        </div>

                        <!-- <label for="favoriteOnly"> Apenas favoritas:</label>
                        <div class="column-4">
                            <input type="checkbox" id='favoriteOnly' name='favoriteOnly'>
                        </div> -->

                        <input type="submit" value="Buscar">
                    </form>
                    
                </div>
                <a href="#fechar" title="Fechar" class="fechar">x</a>
            </div>
        </div>
    </main>

    <div class="footer">
        Equipe: Erick, Alan, Matheus, Andrea
    </div>

</body>

</html>