<link id="profile-css" rel='stylesheet' type='text/css' media='screen' href='/css/profile.css' />
<div class="card-container">
    <div id="personal" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <p class="card-title">Informações Pessoais</p>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                            <p class="card-item-text-topic">Foto de Perfil </p>
                            <div class="pr">
                                <img class="p-image" src="/images/profile-picture.png" alt="Foto de Perfil">
                            </div>

                            <div class="hr"><hr></div>

                            <form method="POST" action="/account/salvar-alteracoes">
		                        <p>E-mail: </p>
		                        <p class="card-item-text-content">
		                            <div class="column-4">
		                                <input type="text" name="email">
		                            </div>
		                        </p>

		                        <p>Nome: </p>
		                        <p class="card-item-text-content">
		                            <div class="column-4">
		                                <input type="text" name="name">
		                            </div>
		                        </p>


		                        <p>Nome de Usuário: </p>
		                        <p class="card-item-text-content">
		                            <div class="column-4">
		                                <input type="text" name="username">
		                            </div>
		                        </p>

		                        <p>Número do Telefone: </p>
		                        <p class="card-item-text-content">
		                            <div class="column-4">
		                                <input type="text" name="number">
		                            </div>
		                        </p>

		                        <p>Descrição: </p>
		                        <p class="card-item-text-content">
		                            <div class="column-4">
		                                <input type="text" class="textarea" name="description">
		                            </div>
		                        </p>
		                        <input type="submit">
		                    </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="password" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <p class="card-title">Redefinir Senha</p>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                        	<form method="POST" action="/account/pwedit">
	                            <p>Digite a senha atual: </p>
	                            <p class="card-item-text-content">
	                                <div class="column-4">
	                                    <input type="text">
	                                </div>
	                            </p>
	                            <p>Digite a nova senha: </p>
	                            <p class="card-item-text-content">
	                                <div class="column-4">
	                                    <input type="text">
	                                </div>
	                            </p>
	                            <input type="submit">
	                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete" class="column-info">
        <div class="column-4">
            <div class="card">
                <div class="card-header flex-between">
                    <p class="card-title">Remover Conta</p>
                </div>
                <div class="card-body flex-between">
                    <div class="info">
                        <div>
                            <p class="card-item-text-topic">Você pode apagar sua conta clicando no botão abaixo. </p>
                            <p class="card-item-text-content">
                                <p class="card-item-text-content">
                                    <a href="index-nao-aut.html"> Remover</a>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>